body{
	background-image: url("images/silverware.jpg");
	background-repeat: repeat-x;
	background-position: 50px 20px;
}
p{
	background-color: green;
	margin-left: 230px;
	margin-right: 230px;
	
}
img{
	width:250px;
	height: 300px;
}